<%- include("../../views/partials/user/header") %>
<div class="container text-center">
    <h1>Cant place order!</h1>
    <p>Thank you for your purchase. Your order is being processed.</p>
    <a href="/" class="btn btn-primary mt-3">Return to Home</a>
</div>
<%- include("../../views/partials/user/footer") %>